.list-container {
	display: flex;
	flex-wrap: wrap;
	.item {
		display: flex;
		width: 200px;
		margin: 10px;
		flex-direction: column;
		.name {
			font-size: 12px;
			margin: 5px 0;
		}
		.price {
			margin: 5px 0;
			font-size: 12px;
			display: flex;
			font-weight: bold;
			height: 20px;
			line-height: 20px;
			.discount {
				font-size: 12px;
				color: #4e4e4e;
				text-decoration: line-through;
				font-weight: bold;
				margin: 0 3px;
				line-height: 20px;
				display: flex;
			}
			.off {
				font-size: 12px;
				color: #32863c;
				line-height: 20px;
				flex: 1;
				text-align: right;
			}
		}
		button {
			width: 100px;
			height: 40px;
			margin: 0 auto;
			background-color: #fdc726;
			color: #555;
			font-weight: bold;
			line-height: 40px;
			border-radius: 20px;
			border: none;
			margin-top: 10px;
		}
		img {
			width: 100%;
			background-color: grey;
			min-height: 140px;
		}
	}
}
.container {
	.cart__item {
		.cart__desc {
			.name {
				font-size: 12px;
			}
			.price {
				font-size: 12px;
				display: flex;
				font-weight: bold;
				height: 20px;
				line-height: 20px;
				.discount {
					font-size: 12px;
					color: #4e4e4e;
					text-decoration: line-through;
					font-weight: bold;
					margin: 0 3px;
					line-height: 20px;
					display: flex;
				}
				.off {
					font-size: 12px;
					color: #32863c;
					line-height: 20px;
					flex: 1;
					text-align: left;
				}
			}
		}
	}
}
h4.searchAgain {
	display: flex;
	height: 60vh;
	width: 100%;
	align-items: center;
	text-align: center;
	justify-content: center;
}
@media only screen and (max-width: 767px) {
	.list-container {
		.item {
			width: calc(50% - 22px);
			border: 1px solid #ccc;
			margin: 0;
			padding: 10px;
		}
	}
}
